@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
    font-family: 'Lobster', cursive;
    background: rgb(248, 218, 198);
    background: -moz-linear-gradient(180deg, rgba(248, 218, 198, 1) 0%, rgba(254, 234, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(248, 218, 198, 1) 0%, rgba(254, 234, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(180deg, rgba(248, 218, 198, 1) 0%, rgba(254, 234, 221, 1) 0%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8dac6", endColorstr="#ffffff", GradientType=1);
}

a {
    text-decoration: none;
    color: black
}

.styleh1 {
    text-decoration: underline;
}

.navBar {
    background-color: #cfaf9a;

    &-img {
        height: 5rem;
        margin: 0 0.5rem;

        @media screen and (max-width: 425px) {
            display: none;
        }
    }

    &-size {
        margin: 0;
        position: relative;
        padding: 1rem 1rem;
        border-radius: 5%;
        transition: all 200ms ease;
        &::before{
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 15%;
            width: 100%;
            background-color: #c39475 ;
            opacity: 0;
            transition: all 200ms ease;
        }
        &:hover{        
            &::before{
                opacity: 1;
            }
    }
}

    &-icons {
        margin: 0rem 1rem;
    }
}

.nav-link_icons {
    color: black;
    margin: 0 1rem;
}

.box-search {
    display: flex;
    justify-content: center;
    margin: 1rem 0px;

}

.card {
    height: 30rem;
    margin: 1rem 2rem;
    display: flex;
    max-width: 18rem;
    background: rgb(248, 218, 198);
    background: -moz-linear-gradient(170deg, rgba(248, 218, 198, 1) 58%, rgba(255, 255, 255, 1) 58%);
    background: -webkit-linear-gradient(170deg, rgba(248, 218, 198, 1) 58%, rgba(255, 255, 255, 1) 58%);
    background: linear-gradient(170deg, rgba(248, 218, 198, 1) 58%, rgba(255, 255, 255, 1) 58%);
    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &-img{
        transform: scale(1,1);
        transition: all 1s ease;
    }
    &-content {
        margin: 0.5rem 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
.card-img:hover{
    transform: scale(1.1,1.1);
}


.card-detail {
    display: flex;
    justify-content: center;
    width: 75vw;
    margin: 1rem 0rem;

    @media screen and (max-width: 1024px) {
        width: 100%;
    }
    &-box{
        & li{
        display: flex;
        flex-direction: column;
        align-items: center;}
    }
    &-img {
        height: 30rem;
        @media screen and (max-width: 768px) {
            height: 20rem;
        }
        @media screen and (max-width: 576px) {
            height: 15rem;
        }
    }

    &-info {
        width: 65%;
        margin: 3rem 0rem;
        padding: 1rem 1rem;

        h4 {
            display: inline;
            background-color: #fff2e9;
            border-radius: 5%;
            padding: 0.5rem;
        }

        p {
            background-color: #fff2e9;
            padding: 1rem;
            border: 1px;
            border-style: solid;
            border-color: #f7c7a5;
            border-radius: 1%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &-traid {
        width: 100%;

        .btn {
            margin: 1rem;
        }
    }

    &-cart {
        background-color: #fff2e9;
        border-radius: 3%;
    }
}

.conteiner-trolley {
    background: rgb(205, 205, 205);
    background: -moz-radial-gradient(circle, rgba(205, 205, 205, 1) 11%, rgba(222, 196, 177, 1) 75%, rgba(194, 194, 194, 1) 100%);
    background: -webkit-radial-gradient(circle, rgba(205, 205, 205, 1) 11%, rgba(222, 196, 177, 1) 75%, rgba(194, 194, 194, 1) 100%);
    background: radial-gradient(circle, rgba(205, 205, 205, 1) 11%, rgba(222, 196, 177, 1) 75%, rgba(194, 194, 194, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cdcdcd", endColorstr="#c2c2c2", GradientType=1);

    &-style {
        background-color: white;
        width: 75vw;
        min-height: 50rem;
        box-sizing: border-box;
        margin: 1rem;
        padding: 2rem;
    }

    &-list {
        margin: 1rem 0rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media screen and (max-width: 1440px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


    }
}

.card-cost {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0rem;
    width: 30vw;

    @media screen and (max-width: 768px) {
        width: 50vw;
    }

    @media screen and (max-width: 1024px) {
        width: 60vw;
    }

    &-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    &-btn {
        width: 75%;
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 500px) {
            flex-direction: column;
            width: 100%;
        }
    }
}

.card-trolley {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(156deg, rgba(255, 255, 255, 1) 0%, rgba(255, 228, 210, 1) 49%);
    background: -webkit-linear-gradient(156deg, rgba(255, 255, 255, 1) 0%, rgba(255, 228, 210, 1) 49%);
    background: linear-gradient(156deg, rgba(255, 255, 255, 1) 0%, rgba(255, 228, 210, 1) 49%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffe4d2", GradientType=1);
    max-height: 20rem;
    width: 45vw;
    border-color: black;
    border: 1px;
    border-style: solid;
    border-radius: 1%;
    margin: 0.5rem;

    @media screen and (max-width: 576px) {
        width: 60vw;
    }

    @media screen and (max-width: 768px) {
        box-sizing: border-box;
        padding: 0.5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    @media screen and (max-width: 1440px) {
        width: 100%;
    }

    &-img {
        height: 25rem;
        @media screen and (max-width: 576px) {
            height: 15rem;
        }
    }

    img {
        @media screen and (max-width: 768px) {
            width: 10rem;
        }
    }

    &-description {
        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    &-info {
        width: 100%;

        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    p {
        margin: 0;
    }
}